<!DOCTYPE html>
<html>
<head>
  <title>Bluepan</title>
  <%= stylesheet_link_tag    "bluepan/application", media: "all" %>
  <%= javascript_include_tag "bluepan/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
